# Bỏ qua các thư mục và file không cần thiết trong Docker image
.git
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.coverage
.gitignore
README.md
Dockerfile
.dockerignore
.env
.venv
venv
venv/
node_modules
*.log
frontend/
frontend 
image.png
image-1.png
image-2.png